@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  /* background: var(--background); */
  /*color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;*/
}
@theme {
  /*
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  */

  --color-primary-light:#f8f8f8;
  --color-primary-dark: #191919;
  --color-pinkish-100: #edb5f5;
  --color-pinkish-200: #eb7ad4;
  --color-pinkish-300: #e86ed0;
  --color-blueish-100: #e6f8f9;
  --color-blueish-200: #b1e8ed;

  --font-sans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

--typography:(theme) => ({
    DEFAULT:{
      css:{
        color:"#333",
        a:{
          color:"#e86ed0",
          "&:hover":{
            color:"#edb5f5",
        }
      }
    }  
},
dark:{
  css:{
    color:theme("colors.gray.100"),
    a:{
      color:theme("colors.pink.400"),
      "&:hover":{
        color:theme("colors.pink.300"),
      }
    }
  }
}
  })
plugnins: [
    require('@tailwindcss/typography'),
  ],


}


  body{
      background-color: var(--color-white);
  color: var(--color-primary-dark);
  }
.dark body {
  background-color: var(--color-gray-900);
  color: var(--color-primary-light);
} 

.dark .icon {
  color:var(--color-gray-100)
}
.dark .icon:hover {
  color: var(--color-pinkish-200);
  
}
.dark .projectsLink:hover svg {
  color: var(--color-text-gray-200);
}
.dark .projectsLink {
  color: var(--color-text-gray-300);
}
.dark .projectCard {
  padding: 8px;
}